<div class="hero is-fullheight form-page">
  <div class="section center">
    <p class="title">Discover your Body Indicator :</p>
  </div>
  <div class="section center">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-background-light">
            <p class="is-size-3">
              Basal Metabolic Rate
            </p>
            <p class="is-size-6">What your body needs without doing anything</p>
          </div>
          <footer class="card-footer center">
            <div class="card-content">
              <p class="title">{{data.basalMetabolism}} kCal</p>
            </div>
          </footer>
        </div>
      </div>
      <div class="column">
        <article class="message is-dark">
          <div class="message-body">
            Everybody requires a minimum number of calories to live. This minimum number is called the basal metabolic
            rate (BMR). Your BMR is the number of calories your organs need to function while you perform no activity
            whatsoever. You can think of it as the amount of energy you'd burn if you stayed in bed all day.
            <br><br>
            Since your basal metabolic rate is based largely on involuntary functions like breathing and pumping blood,
            changes in your day-to-day activity don't do much to raise or lower this number. However, increasing muscle
            mass does increase BMR, because muscle is metabolically "hungry" and it takes more energy to maintain more
            muscle. This means that when you have a lot of muscle mass, you'll burn more calories at rest.
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="section center" style="justify-content:space-around">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-background-primary">
            <p class="is-size-3">
              Objective Needs
            </p>
            <p class="is-size-6">This is the one you want to follow</p>
          </div>
          <footer class="card-footer center">
            <div class="card-content">
              <p class="title"> {{data.objectiveNeed}} kCal </p>
            </div>
          </footer>
          <footer class="card-footer center">
            <p class="card-footer-item"> Protein : &nbsp; <strong>{{diet.userProtein}}g</strong> </p>
            <p class="card-footer-item"> Carbs : &nbsp; <strong>{{diet.userCarbs}}g</strong> </p>
            <p class="card-footer-item"> Lipid : &nbsp; <strong> {{diet.userLipid}}g</strong> </p>
          </footer>
        </div>
      </div>
      <div class="column">
        <article class="message is-dark">
          <div class="message-body">
            Nutrition goals for healthy living will vary greatly depending on the individual. In general, it is
            important to have a well-balanced diet. A meal should include a carbohydrate, a protein, and a
            fruit/vegetable. Of course this is an overly simplified explanation. However, once you have these basics for
            your meal, anyone can then focus in on specific parameters of the meal.
            <br><br>
            You can choose how many grams of
            carbohydrate, protein, fat, cholesterol, and fiber to eat based on your personal dietary needs. The goal
            overall should focus on avoiding excess carbohydrates, fat, and cholesterol while encouraging higher fiber
            intake and lean protein. Temporary restrictive diets for the purpose of rapid weight loss are discouraged.
            Weight loss from these types of diets is usually temporary as the weight typically returns when the diet is
            discontinued. Adhering to a healthy well-balanced diet that is sustainable long-term is recommended.
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="section center" style="justify-content:space-around">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-background-light">
            <p class="is-size-3">
              Basal Metabolic Index
            </p>
            <p class="is-size-6">BMI ratio between your Height and Weight</p>
          </div>
          <footer class="card-footer center">
            <div class="card-content">
              <p class="title"> {{data.bmi}} </p>
            </div>
          </footer>
        </div>
      </div>
      <div class="column">
        <article class="message is-dark">
          <div class="message-body">
            The term “basal metabolic index,” or BMI, is bandied about in popular health magazines and at fitness
            centers. In fact, before you hire a personal trainer, your BMI score may be determined. But you may be
            wondering what it is and if there is real science behind it. According to the US Centers for Disease Control
            and Prevention (CDC), BMI is legitimate.
            <br> <br>
            Like your index finger, or pointer, BMI points to something. It indicates body fatness or obesity. By
            plugging your height and weight into a mathematical formula, healthcare professionals can derive your BMI, a
            good assessment of your body fat. There are also adult BMI calculators available online. Determining your
            BMI can then be used to predict your risk of developing medical conditions that go hand in hand with excess
            weight. The normal range for BMI in adults is 18.5-24.9, says the CDC. Values between 25 and 29.9 indicate a
            person is overweight. When the BMI climbs above 30, a person is considered obese.
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="section center" style="justify-content:space-around">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content has-background-light">
            <p class="is-size-3">
              Water Need
            </p>
            <p class="is-size-6">Coucou explain</p>
          </div>
          <footer class="card-footer center">
            <div class="card-content">
              <p class="title"> {{data.water}} ml </p>
            </div>
          </footer>
        </div>
      </div>
      <div class="column">
        <article class="message is-dark">
          <div class="message-body">
            Every day you lose water through your breath, perspiration, urine and bowel movements. For your body to
            function properly, you must replenish its water supply by consuming beverages and foods that contain water.
            <br> <br>
            So how much fluid does the average, healthy adult living in a temperate climate need? The National Academies
            of Sciences, Engineering, and Medicine determined that an adequate daily fluid intake is:
            <br><br>
            About 15.5 cups (3.7 liters) of fluids for men
            About 11.5 cups (2.7 liters) of fluids a day for women
            These recommendations cover fluids from water, other beverages and food. About 20 percent of daily fluid
            intake usually comes from food and the rest from drinks.
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="section center">
    <a href="/recipes-list" class="button is-primary is-large">Continue to my dashboard</a>
  </div>
</div>